.cupcakebox {
    text-align: center;
    margin-top: 25px;
}

.container-fluid {
    padding: 0 20px !important;
}

.responsive {
    width: 100%;
    height: auto;
}

.cupcakelabel {
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

.responsive:hover {
    opacity: .8;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    cursor: pointer;
}

.main-container{
background-color:#F1F1F1;    
}

body {
    background-color: #F1F1F1;
}