<!DOCTYPE html>
<html>

<head>
    <title>Frederik's Cupcake</title>
    <link rel="shortcut icon" href="/img/titlelogo.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/menu.css">

    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <script>
        $(function () {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        });
    </script>
</head>

<body>
    <div id="header"></div>
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake1.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake2.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake3.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake4.jpg">
                <label>Cupcake</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake5.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake6.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake7.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake8.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake9.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake10.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake11.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake12.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake13.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake14.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake15.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
            <div class="col-md-3 cupcakebox">
                <img class="responsive" src="/img/cupcake16.jpg">
                <label class="cupcakelabel">Cupcake</label>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>

</html>